@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Source Code Pro Light', sans-serif;
}

header h1 {
	margin: 1rem;
	text-align: center;
}